.mission{
    margin-top: 150px;
    color: white;
    background-image: url(/images/Shape\ -32\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 850px;
    background-position-y: 240px;
    height: 1080px;
    margin-bottom: 0px;
    h1{
        margin-top: 36px;
        font-size: 96px;
        margin-bottom: 0px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.44px;
    }
    h2{
        font-size: 64px;
        margin-top: 10px;
        font-family: Golos Text;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 1120px;
        line-height: 120%;
    }
}