.design{
    padding-left: 160px;
    color: white;
    height: 1080px;
    background-image: url(/images/Vector\ \(3\).svg);
    background-repeat: no-repeat;
    background-position-x: 1000px;
    .design-1{
        display: flex;
        flex-direction: column;
        gap: 128px;
        height: 1040px;
        width: 1040px;
        .text-1{
            width: 1040px;
            h1{
                font-size: 96px;
                font-weight: 400;
                letter-spacing: 1.44px;
                margin-bottom: 0px;
            }
            h2{
                margin-top: 0px;
                font-size: 64px;
                font-weight: 400;
                font-family: Golos Text, sans-serif;
                margin-bottom: 0px;
            }
        }
        .learn{
            display: flex;
            flex-direction: column;
            gap: 32px;
            h3{
                font-family: Golos Text, sans-serif;
                font-size: 36px;
                font-weight: 400;
                margin-bottom: 0px;
            }
            a{
                background-image: url(/images/Component\ 1.png);
                background-repeat: no-repeat;
                width: 620px;
                height: 220.5px;
                background-color: #131313;
                border: none;
                cursor: pointer;
                transition: 0.5s ease-out;
            }
            a:hover{
                transform: translate(130px);
                
                opacity: 0.5;
            }
        }
    }
}