@font-face {
        font-family: KrasnodarGrotesk;
        src: url(/fonts/Krasnodar\ Grotesk\ Trial.otf);
    }
header{
    background-color: #131313;
    display: flex;
    align-items: center;
    height: 117px;
    margin-bottom: 0px;
    .logo_1{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 48px;
    }
    .nav{
        display: flex;
        gap: 20px;
        margin-left: 601px;
        a{
            font-size: 24px;
            padding: 10px 20px;
            color: white;
            text-decoration: none;            
            transition: 0.5s ease-in-out;

        }
        :hover{
            color: #585858;
        }
    }
}

